@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Lato", sans-serif;
}

body {
    background-color: #141A3B;
}

.side-menu-links::before {
    content: '';
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #0c1129;
}

::-webkit-scrollbar-thumb {
    background: #2f3d91;
    border-radius: 15px;

}
::-webkit-scrollbar-thumb:hover {
    background: #404fa1;
}

.payout-table::-webkit-scrollbar {
    height: 5px;
}